body {
  font-family: "Outfit", sans-serif;
  background-image: url(../imagens/fundo-site.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.cdz {
    width: 120px;
    height: 80px;
    margin-top: -60px;
    margin-left: 85px;
    display: flex;
    justify-content: center;
}

.cdz1 {
    width: 120px;
    height: 80px;
    margin-top: -80px;
    margin-left: 85px;
    display: flex;
    justify-content: center;
}

.cdz-slider {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 0;
}

.lista-cdz {
    width: 310px;
    height: 520px;
    position: relative;
}

.btn-seta {
    background-color: #FFF;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.btn-seta.btn-voltar {
    transform: rotateY(180deg);
}

.btn-seta:hover {
    background-color: #8351FE;
}

.cartao {
    background-color: blueviolet;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    padding: 12px;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: opacity 0.3s ease-in-out;
    margin-top: 70px;
}

.cartao.selecionado {
    opacity: 1;
    z-index: 1;
}

.fundo-1 {
    background: url(../imagens/fundo-card-1.webp) no-repeat;
}

.fundo-2 {
    background: url(../imagens/fundo-card-2.jpg) no-repeat;
}

.fundo-3 {
    background: url(../imagens/fundo-card-3.webp) no-repeat;
}

.fundo-4 {
    background: url(../imagens/fundo-card-4.webp) no-repeat;
}

.fundo-5 {
    background: url(../imagens/fundo-card-5.webp) no-repeat;
}

.cartao .informacoes {
    background-color: rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.cartao .informacoes .nome {
    color: #f1ecff;
    font-size: 22px;
}

.cartao .informacoes .constelacao {
    background-color: #333;
    color: #f1ecff;
    padding: 6px 10px;
    border-radius: 20px;
}

.cartao .container-imagem {
    text-align: center;
}

.cartao .imagem-cdz {
    max-width: 100%;
    max-height: 400px;
    padding: 20px;
    margin-bottom: 40px;
}

.cartao .imagem-seiya {
    max-width: 150%;
    max-height: 400px;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin-left: -70px;
    margin-bottom: 40px;
}

.imagem-ikki {
    max-width: 300%;
    max-height: 500px;
    padding: 70px;
    display: flex;
    justify-content: center;
    margin-left: -70px;
    margin-top: -100px;
}

.imagem-shun {
    max-width: 300%;
    max-height: 500px;
    padding: 70px;
    display: flex;
    justify-content: center;
    margin-left: -30px;
    margin-top: -50px;
}

.imagem-hyoga {
    max-width: 300%;
    max-height: 500px;
    padding: 70px;
    display: flex;
    justify-content: center;
    margin-left: -80px;
    margin-top: -50px;
}