.btn-enviar {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    border-radius: 5px;
    background: #ca3703;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    border: none;
}

    .btn-enviar:not([disabled]):after {
        content: " ";
        width: 0%;
        height: 100%;
        background: #fff;
        position: absolute;
        transition: all 0.4s ease-in-out;
        right: 0;
    }

    .btn-enviar:not([disabled]):hover::after {
        right: auto;
        left: 0;
        width: 100%;
    }

    .btn-enviar .btn-texto {
        text-align: center;
        text-decoration: none;
        width: 100%;
        padding: 5px;
        color: #fff;
        font-size: 1.125em;
        font-weight: 700;
        /*letter-spacing: 0.1em;*/
        z-index: 20;
        transition: all 0.3s ease-in-out;
    }

    .btn-enviar:not([disabled]):hover .btn-texto {
        color: #ca3703;
        animation: scaleUp 0.3s ease-in-out;
    }

@keyframes scaleUp {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}
