			
@import url(https://fonts.googleapis.com/css2? family= Roboto:wght@100 & display=swap);
			
body {
			
	background: rgb(255, 212, 123);
	background: radial-gradient(
	circle,
	rgba(255,212,123,1) 0%,
	rgba(255,71,145,1) 100%
	);

	display: flex;
	justify-content: center;
	font-family: "Roboto", sans-serif;
}

.board {

	background-color: rgba(255, 255, 255, 0.8);
	width: 320px;
	margin: 4px;
	display: flex;
	flex-direction: column;

}

h3 {

	background-color: lightcoral;
	color: white;
	margin: 0;
	text-align: center;
	font-size: 24px;
	font-weight: 400;

}

.add-card {

	background-color: rgba(200, 200, 200, 0.8);
	margin: 4px;
	border-radius: 4px;

}

.add-card:hover {

	cursor: pointer;
}

.add-card p {

	font-size: 16px;
	padding: 0 6px;
	font-weight: 100;

}

ul {

	list-style-type: none;
	min-height: 300px;
	padding: 2px;
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;

}

li {

	background-color: white;
	box-shadow: 2px 2px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	min-width: 100px;
	height: 40px;
	display: flex;
	justify-content: space-between;
	margin: 4px 10px;
	padding: 8px;
	display: flex;
	align-items: center;

}

li:hover {

	cursor: move;

}

.remove {

	width: 16px;
	height: 16px;
	border-radius: 50%;
	text-align: center;
	font-size: 12px;
	color: #c3c3c3;

}

.remove:hover {

	cursor: pointer;
	background-color: lightcoral;

}