
@import url(https://fonts.googleapis.com/css2? family= Roboto:wght@300 & display=swap);
			
			body {

				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				background-image: url("https://cdn.wallpapersafari.com/91/2/DExBhK.jpg");
				font-family: "Roboto", sans-serif;			

			}

			div {

				background-color: #daf7c1;
				width: 320px;
				margin: 8px;
				padding: 8px 18px;
				border-radius: 14px;
				box-shadow: 2px 2px rgba(0,0,0,0.2);
				display: flex;
				justify-content: space-between;
				align-items: center;

			}

			div:hover {

				box-shadow: 4px 4px rgba(0,0,0,0.4);
				cursor: pointer;
			}

			img {
				width: 40px;
				height: 40px;
			}
