.language-switch {
  display: flex;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;
}

.language-icon {
  font-size: 22px;
  margin-right: 5px;
  margin-bottom: 5px;
  color: white;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 20px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 20px;
}

.slider::before {
  position: absolute;
  content: "";
  height: 14px;
  width: 14px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked+.slider {
  background-color: #cd5ff8;
}

input:checked+.slider::before {
  transform: translateX(18px);
}

#langText {
  font-size: 14px;
  font-weight: bold;
  color: white;
  margin-bottom: 5px;
}